/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #323D4390;
    background-alt: #3C474D70;
    foreground:     #DAD1BEFF;
    selected:       #7FBBB3FF;
    active:         #A7C08030;
    urgent:         #E67E80FF;
}
